<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
 data-th-replace="~{base::parent(~{::#content},~{::title},~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>

<body>

    <div id="content" class="text-1xl text-center  mx-auto w-1/2">

        <!-- message -->
        <div data-th-replace="~{message::messagebox}"></div>


        <a class="px-3 py-2 rounded bg-gray-900 text-white" data-th-href="@{'user/auth/resendVerificationEmail/'+ ${userEmail}}">Resend verificationLink</a>
        
    </div>
    <script></script>
</body>
</html>